*
{
    padding: 0;
    margin: 0;
    font-family: IRANSans !important;
}


/*Hasan Global*/

.banner-font
{
    font-size: 3.5em !important;
}

.default-font
{
    font-size: 0.85em !important;
}

.default-input
{
    background-color: transparent;
    border: 1px solid #b4b4b4
}

.default-input:focus
{
    border: 1px solid var(--main-color);
}

.banner
{
    text-align: center !important;
    align-content: center; !important;
    background: linear-gradient(rgb(51, 129, 142), rgba(45, 109, 122, 0.5));
    padding: 3em !important;
}

.feedback
{
    text-align: center !important;
    align-content: center; !important;
    margin: auto !important;
}

.category-csh
{
    background: url("../Assets/img/CSH.jpg") no-repeat center;
    background-size: cover;
}

.category-php
{
    background: url("../Assets/img/PHP.jpg") no-repeat center;
    background-size: cover;
}

.category-pyt
{
    background: url("../Assets/img/PYT.jpg") no-repeat center;
    background-size: cover;
}

.category-js
{
    background: url("../Assets/img/JS.jpg") no-repeat center;
    background-size: cover;
}

.category-asp
{
    background: url("../Assets/img/ASP.jpg") no-repeat center;
    background-size: cover;
}

.category-laravel
{
    background: url("../Assets/img/Laravel.jpg") no-repeat center;
    background-size: cover;
}

.category-django
{
    background: url("../Assets/img/Django.jpg") no-repeat center;
    background-size: cover;
}

.category-reactjs
{
    background: url("../Assets/img/ReactJS.jpg") no-repeat center;
    background-size: cover;
}

.category-sqlserver
{
    background: url("../Assets/img/SQLServer.jpg") no-repeat center;
    background-size: cover;
}

.category-mysql
{
    background: url("../Assets/img/MySQL.jpg") no-repeat center;
    background-size: cover;
}

.image-thumb
{
    width: 3.5em !important;
    height: 3.5em !important;
    border-radius: 0 !important;
}

.comment-area
{
    background-color: white !important;
    padding: 1em !important;
    border: 1px solid #dedede !important;
}

.comment-area span
{
    margin-top:1.5em !important;
    margin-bottom: 1.5em !important;
}

.answer-area
{
    background-color: white !important;
    padding: 1em !important;
    border: 1px solid #dedede !important;
}

.answer-area li, .answer-area span
{
    margin-top:1.5em !important;
    margin-bottom: 1.5em !important;
}

.term-state
{
    /*background-color: var(--main-color) !important;*/
    /*color: white !important;*/
    padding: 2em 0 !important;
    text-align: center !important;
    font-size: 1.1em !important;
    /*border: 1px solid #dedede !important;*/
}

.pagination
{
    padding: 1em !important;
    border-radius: 0 !important;
}

.pagination li
{
    margin: 0.5em 0.5em !important;
    border-radius: 50%;
    background-color: #d4d7e9;
    color: white !important;
}

.pagination .active
{
    background-color: var(--main-color) !important;
    color: white !important;
    font-weight: bold;
}

.pagination li a
{
    display: block;
    width: 3em !important;
    height: 3em !important;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    text-align: center !important;
    vertical-align: center !important;
    padding-top: 0.8em !important;
    font-size: 13px !important;
}

.last-terms
{
    /*background-color: var(--main-color) !important;*/
    padding: 0.85em !important;
    float: right !important;
    font-size: 17px !important;
    cursor: default !important;
    width: 100% !important;
    text-align: center !important;
    /*border-bottom: 1px solid #dedede !important;*/
}

.last-terms-zero
{
    background-color: var(--main-color) !important;
    padding: 0.85em !important;
    font-size: 17px !important;
    cursor: default !important;
    margin-bottom: 1.45em !important;
    color: whitesmoke !important;
    width: 100% !important;
    text-align: center !important;
}

.action-single-course
{
    border-radius: 0;
    width: 100%;
    color: white;
    padding: 0.8em 0;
}

/*-------------------------------------------------------------------------------------------------*/

/*Override*/

.default-btn
{
    border-radius: 0 !important;
    font-size: 0.95em !important;
}

.nav-link
{
    font-size: 0.95em !important;
}

.banner-area-three
{
    background-image:  url(../Assets/img/1606493058602.jpg) !important;
}

.tutor-area
{
    background-image: url(../Assets/img/man-pc-deployment-workstation-rwd.jpg.rendition.intel.web.864.486.jpg);
}

.courses-area-three
{
    background-image: url("../Assets/img/Computer Programming vs Web Design.jpg") !important;
}

.feedback-area.feedback-area-three
{
    background-image: url("../Assets/img/Computer Programming vs Web Design.jpg") !important;
}

.price
{
    border-radius: 0 !important;
    width: auto !important;
    height: auto !important;
    line-height: 2em !important;
    padding: 0.5em !important;
    font-size: 1em !important;
    font-family: IRANSans !important;
}

.page-title-area.bg-25
{
    background-image: url("../Assets/img/Computer Programming vs Web Design.jpg") !important;
}

.page-title-area .page-title-content
{
    color: white !important;
}

.react-responsive-modal-modal
{
    background: transparent !important;
    max-width: 1300px !important;
    box-shadow: none !important;
}

.showing-result
{
    margin-right: 0 !important;
}

.single-categories
{
    height: 10em !important;
}

.single-course img
{
    width: 100% !important;
    height: 12em !important;
}

.single-course .course-content
{
    /*height: 15em !important;*/
    /*padding-bottom: 0 !important;*/
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.single-course .course-content p
{
    /*height: 4.7em !important;*/
    /*overflow: hidden !important;*/
}

.single-course .course-content .lessons
{
    /*border-top: 1px solid #ebebeb;*/
    /*height: 3em !important;*/
    /*overflow: hidden !important;*/
    /*padding-top: 1.7em !important;*/
}

.instructor-content, .course-list
{
    background-color: white !important;
    padding: 1.5em !important;
    border: 1px solid #dedede !important;
}

.curriculum-list
{
    background-color: white !important;
    padding: 1.5em !important;
    padding-bottom: 1em !important;
    border: 1px solid #dedede !important;
}

.curriculum-list h4
{
    background-color: var(--main-color); !important;
}

.curriculum-list li
{
    background-color: transparent !important;
}

.curriculum-list ul
{
    margin-bottom: 0.5em !important;
}

.advisor-img img
{
    width: 150px !important;
    height: 150px !important;
}

.leave-reply-wrap
{
    background-color: #ffffff !important;
    padding: 1.5em !important;
    border: 1px solid #dedede !important;
}

.leave-reply-wrap h3
{
    background-color: var(--main-color) !important;
    padding: 1em !important;
}

.course-list h3
{
    background-color: var(--main-color) !important;
    font-size: 18px !important;
    padding: 0.5em !important;
}

.single-course
{
    border: 1px solid #dedede !important;
    box-shadow: none !important;
    padding: 0.5em !important;
}

.user-area-style .contact-form-action
{
    box-shadow: none !important;
    border: 1px solid #dedede !important;
}

.account-wrap
{
    border: 1px solid #dedede !important;
}

.single-course-content h3
{
    padding: 1em !important;
    border: 1px solid #dedede !important;
}

.single-course-content .video-player, .single-course-content img
{
    width: 100% !important;
}

.single-course-content .video-player .video-react
{
    background-color: transparent !important;
    margin-bottom: 3em !important;
}

.video-react .video-react-big-play-button
{
    border-radius: 0 !important;
    background-color: var(--main-color) !important;
    border: none !important;
}

.single-course-content .video-player .video-react-poster
{
    background-color: transparent !important;
    border: 0 !important;
}

.default-btn.register
{
    width: 100% !important;
    background-color: transparent;
    border: 1px solid var(--heading-color);
    color: var(--heading-color);
}

.default-btn.register:hover
{
    background-color: var(--main-color);
    color: var(--white-color);
}

.default-btn.purchase-btn
{
    width: auto !important;
}

.user-area-style .section-title
{
    text-align: center !important;
}
.user-area-style .section-title
{
    background-color: transparent !important;
}

.section-title h2
{
    color: gray !important;
    border-bottom: 0 !important;
}